<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%let producto = singleProduct%> <%- include('../partials/head',
  {title:'producto.name'}) %>
  <body>
    <!-- /Header -->
    <%- include('../partials/header') %>
    <main>
      <div id="single__product">
        <section class="product__image">
          <figure>
            <img
              src="../assets/img/comic-issues/<%-producto.cover%>"
              alt="product"
            />
          </figure>
        </section>
        <section class="product__info">
          <div class="info">
            <h3 class="info__title"><%-producto.name%></h3>
            <div class="info__specs">
              <p>Editorial <%-producto.editorial%></p>
              <p>Escrito por <%-producto.writer%></p>
              <p>Publicado en <%-producto.datePublished%></p>
            </div>
            <div class="info__precios">
              <% if (producto.discount>0){%>
              <p style="text-decoration: line-through">$ <%-producto.price%></p>
              <p>
                $
                <%-producto.discount>0?Math.round(producto.price*(1-producto.discount/100)):producto.price%>
              </p>
              <p class="disscount"><%-producto.discount%>% off</p>
              <%}else{%>
              <p>$ <%-producto.price%></p>
              <%}%>
            </div>
            <form id="addcart-product" action="/card" method="GET">
              <p class="<%-producto.available?'available':'unavailable'%>">
                <%-producto.available?"disponible":"No disponible"%>
              </p>
              <button class="btn-addcart">Añadir al carrito</button>
            </form>
          </div>
        </section>
        <div class="product__description">
          <h3 class="">Descripción</h3>
          <hr />
          <p><%-producto.description%></p>
        </div>
      </div>
    </main>

    <%- include('../partials/footer')%>
  </body>
</html>
