<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%let producto = singleProduct%> <%- include('../partials/head',
  {title:'Inicio'}) %>
  <body>
    <!-- /Header -->
    <%- include('../partials/header') %>

    <h2 class="subtitle-margin">Editar producto <%-producto.name%></h2>
    <section>
      <% if(locals.errors) {%> <% for (const error of errors){ %>
        <p class="ml-5 mb-3 error--text"><%-error.msg%></p>
        <%}}%>
      <form
        action="/products/<%-producto.id%>/edit?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        id="product__form"
      >
      <!-- Disponible -->
      
        <div>
          <label for="productStatus">Disponible</label>
          <input
            type="checkbox"
            name="status"
            id="productStatus"
            class="productAvailable"
            <% if(producto.available){ %>
              checked
              <%}%>
          />
        </div>

        <!-- Nombre -->
        <div>
          <label for="productName"> Nombre del producto</label>
          <input
            type="text"
            name="name"
            id="productName"
            class="input is-info"
            value="<%-producto.name%>"
          />
        </div>

        <!-- Editorial -->
        <div>
          <label for="productEditorial">Editorial</label>
          <select name="editorial" id="productEditorial" class="input is-info">
            <% for(let i=0; i<editorials.length; i++) {%>
              <option
              value="<%- editorials[i].id%>"
              name="<%- editorials[i].name%>"
              <% if(editorials[i].id == producto.editorial){%>
                selected
                <%}%>>
                <%-editorials[i].name%>
              </option>
            <%}%>
          </select>
        </div>

        <!-- Escritores -->
        <div>
          <label for="productWriter">Escrito por</label>
          <select name="writer" id="productWriter" class="input is-info">
            <% for(let i=0; i<writers.length; i++){%>
              <option
              value="<%-writers[i].id%>" 
              name="<%-writers[i].name%>"
              <% if(producto.writer == writers[i].id){%>
                selected<%}%> >

                <%-writers[i].name%>

              </option>
            <%}%>
          </select>
        </div>

        <!-- Precio -->
        <div>
          <label for="productPrice">Precio</label>
          <input
            type="number"
            name="price"
            id="productPrice"
            class="input is-info"
            value="<%-producto.price%>"
          />
        </div>

        <!-- Descuento -->
        <div>
          <label for="productDiscount">Descuento</label>
          <input
            type="number"
            name="discount"
            id="productDiscount"
            class="input is-info"
            value="<%-producto.discount%>"
          />
        </div>
        <!-- Fecha publicada -->
        <div>
          <label for="productPublish">Fecha publicada</label>
          <input
            type="date"
            name="datePublished"
            id="productPublish"
            class="input is-info"
            value="<%-producto.datePublished%>"
            min="2010-01-01"
            max="2021-12-31"
          />
        </div>

        <!-- cover -->
        <div>
          <label for="changeCover">Cambiar Cover</label>
          <input
            type="checkbox"
            name="changeCover"
            id="changeCover"
            class="productAvailable"
          />
        </div>
        <div class="register--input">
          <label class="text-md" for="cover"> Foto del producto </label>
          <input class="ml-6" name="cover" type="file" id="cover"/>
        </div>

        <!-- Descripcion del producto -->
        <div>
          <label for="productDescription">Descripción</label>
          <br />
          <textarea
            name="description"
            id="productDescription"
            cols="30"
            rows="10"
            class="productDescription"
          >
<%-producto.description%></textarea
          >
        </div>

        <!-- controls -->
        <div class="" style="display: flex; justify-content: center">
          <button type="submit" class="btn-addcart">Guardar producto</button>
        </div>
      </form>

      <form
        action="/products/<%-producto.id%>/edit?_method=DELETE"
        method="POST"
      >
        <div
          class=""
          style="display: flex; justify-content: center; margin-bottom: 4rem"
        >
          <button type="submit" class="btn-addcart">Eliminar producto</button>
        </div>
      </form>
    </section>

    <%- include('../partials/footer')%>
  </body>
</html>
