<!DOCTYPE html>
<html lang="es">
  <!-- head -->
  <%- include('partials/head', {title:'Inicio'}) %>
  <body>
    <!-- /Header -->
    <%- include('partials/header') %>

    <main>
      <div id="main-content">
        <!-- Start Hero Carousel -->
        <section class="slider">
          <div class="container">
            <div id="carousel-demo" class="carousel">
              <div class="item-1">
                <img
                  src="/assets/img/invincible.jpg"
                  alt="comic1"
                  style="max-width: 100%; height: auto"
                />
              </div>
              <div class="item-2">
                <img
                  src="/assets/img/liga justicia.jpg"
                  alt="marvel"
                  style="max-width: 100%; height: auto"
                />
              </div>
              <div class="item-3">
                <!-- Slide Content -->
                <img
                  src="/assets/img/comicwallpaper.jpg"
                  alt="Placeholder image"
                  style="max-width: 100%; height: auto"
                />
              </div>
              <div class="item-4">
                <!-- Slide Content -->
                <img
                  src="/assets/img/marvel.jpg"
                  alt="Placeholder image"
                  style="max-width: 100%; height: auto"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- End Hero Carousel -->

        <h2 class="subtittle">Novedades</h2>
        <section class="novedades">
          <% for (producto of lastproducts){ %>
          <div class="card">
            <a href="/products/<%-producto.id%>">
              <div class="card-image">
                <figure class="image is-4by3 issue-margin">
                  <img
                    src="/assets/img/comic-issues/<%-producto.cover%>"
                    alt="Placeholder image"
                  />
                </figure>
              </div>
              <div class="card-content">
                <div class="media">
                  <div class="media-left">
                    <figure class="image is-48x48">
                      <img
                        src="/assets/img/<%-producto.editorial%>-logo.png"
                        alt="Placeholder image"
                      />
                    </figure>
                  </div>
                  <div class="media-content">
                    <p class="title is-4"><%-producto.name%></p>
                    <p class="subtitle is-6"><%-producto.editorial%></p>
                  </div>
                </div>
              </a>
                <div class="content">
                  <p><%-producto.description%></p>
                  <br />
                  <span>#by <%-producto.writer%></span>
                  <br />
                  <time>Fecha de salida: <%-producto.releaseDate%></time>
                </div>
              </div>
              
          </div>
          <%}%>
        </section>
      </div>
    </main>
    <%- include('partials/footer')%>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script>
    <script>
      bulmaCarousel.attach("#carousel-demo", {
        slidesToScroll: 1,
        slidesToShow: 2,
        navigationKeys: true,
        pagination: true,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnHover: true,
        infinite: true,
      });
    </script>
  </body>
</html>
